body,
html {
  height: 100%;
  margin: 0;
}
html *{
  font-family: Verdana;
}
h1 {
  /* color:indianred; */
  /* color:#6B7A8F; */
  color: #353535;
  /* background-color: #ff6b6b; */
  letter-spacing: 2px;
  /* font-family: Verdana; */
  font-size: 60px;
  text-align: center;
}
h2{
  font-size: 30px;
  text-align: center;
  color: #353535;
  font-weight: bold;
  
}
h4 {
  font-size: 20px;
  text-align: center;
  color: #353535;
}
h3 {
  font-size: 25px;
  text-align: center;
  color: #353535;
}

p {
  padding-right: 17%;
  padding-left: 17%;
  text-align: justify;
  font-size: 130%;
}
body {
  /* The image used */
  /* background-image: url('/home/sara/Desktop/paint2.jpg'); */
  background-image: linear-gradient(
    to right top,
    #6bd1c4,
    #51cbd2,
    #41c4df,
    #46bbe8,
    #5eb0ec,
    #68aeed,
    #71abee,
    #7ba9ee,
    #73b0f3,
    #6cb7f6,
    #65bef9,
    #5fc5fb
  );
  /* Full height */
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.collapsible {
  /* font-family: Verdana; */
  background-color: lightcyan;
  color: #444;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 30px;
}

.active,
.collapsible:hover {
  background-color: lightskyblue;
  /* font-weight: bolder; */

}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: lightcyan;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  /* height:auto; */
  width:46%;
}
.SysDiag{
  width:37%;
}
.pcb{
  width:35%;
}
.salinity{
  width:20%;
}
.IRSch{
  width: 25%;
}
.sch{
  width:65%;
}
.turb{
  width:40%;
}
.bom{
  width:70%;
}
ol {
  text-align: center;
  list-style-position: inside;
  font-size: 130%;
  border: 5px azure;
}
